<html>
  <head>
    <title>Ansible Tutorial by Nopnithi</title>
  </head>
  <body>
  <h1>NGINX is running on "{{ inventory_hostname }}"</h1>
  <p>This web server is configured by Ansible</p>
  </body>
</html>